/* .App {
  text-align: center;
} */

.App-logo {
  margin-left: 5vh;
  margin-right: 5vh;
  height: 18vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #31405f;
  min-height: 23vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #31405f;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #131925;
  min-height: 72vh;
  color: white;
}

.App-center {
  text-align: center;
  font-size: 5vh;
  padding-top: 20vh;
  margin-left: 30vh;
  margin-right: 30vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
